div#mybanner
{width:160px;
border: 1px solid #73AD21;
height:600px;
}
			
/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
}

th,td
{
	padding:2px;
}

img
{
	border:0;
}

:focus
{
	outline:0;
}

body
{
	background:#fff url(../img/bg-body.png) repeat-x top left;
	color:#444;
	font:62.5% /1.5 Arial,Helvetica,sans-serif;
	line-height:1.5;
	text-align:center;
}

ul,
ol
{
	list-style:none;
}

table
{
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td
{
	font-weight:normal;
	text-align:left;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:"";
}

blockquote,q
{
	quotes:"""";
}

strong
{
	font-weight:bold;
}

body,html
{
	height:100%;
}

pre,code
{
	background:#eaeaea;
	font-family:Courier,Arial,sans-serif;
	padding:5px;
	white-space:normal;
}

em
{
	font-style:italic;
}

/* You can start editing from this point on */

div#container
{
	font-size:1.2em;
	height:auto !important;
	margin:0 auto;
	min-height:700px;
	text-align:left;
	width:950px;
}

div#header
{
	height:150px;
	position:relative;
	width:950px;
}

h1#logo
{
	height:127px;
	left:20px;
	position:absolute;
	top:25px;
	width:349px;
}

h1#logo a
{
	background:url(../img/jobber-logo.gif) 0 0 no-repeat;
	float:left;
	height:127px;
	outline:0;
	text-indent:-1000em;
	width:349px;
}

ul#top
{
	position:absolute;
	right:20px;
	top:20px;
}

ul#top li
{
	background-color:transparent;
	color:#09C;
	display:inline;
	margin-left:2px;
}

div#the_feed
{
	position:absolute;
	right:15px;
	top:45px;
	width:180px
}

div#box
{
	background:url(../img/bg-box.png) 0 0 no-repeat;
	height:102px;
	position:relative;
	width:950px;
}

div#box div#search
{
	left:20px;
	position:absolute;
	top:25px;
}

div#box div#search fieldset input
{
	background:transparent url(../img/bg-search.png) 0 0 no-repeat;
	border:none;
	color:#444;
	font-size:1.6em;
	height:27px;
	padding:6px 10px;
	width:276px;
}

div#box div#search fieldset input:focus,
div#search fieldset input:hover
{
	background:transparent url(../img/bg-search.png) -296px 0 no-repeat;
}

div#box div#search fieldset label
{
	background-color:transparent;
	clear:both;
	color:#666;
	display:block;
	float:left;
	font-size:0.9em;
}

div#box .addJob
{
	position:absolute;
	right:30px;
	top:10px;
}

.postJobBtn{background:url(../img/bt-post2.png) no-repeat right 0; width: 140px; float:left; height:47px; padding-right:10px; text-decoration:none;}
.postJobBtn span{background:url(../img/bt-post2.png) no-repeat 0 0; float:left; width: 190px; display:block; font-size:16px; color:#fff; text-transform:uppercase; font-weight:bold; height:45px; padding:2px 10px 0 20px; line-height:45px; cursor:pointer;}
.postJobBtn:hover{background-position:right -47px; text-decoration:none;}
.postJobBtn:hover span{background-position:0 -47px;}

#content
{
	padding-right:10px;
	width:755px;
}

#content p
{
	margin:0 0 10px;
	padding:0;
}

#content a
{
	background-color:transparent;
	color:#09C;
	padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

#content a:hover
{
	background-color:#09C;
	color:#fff;
	padding:2px;
	text-decoration:none;
}

#content ol,
#content ul
{
	margin-left:20px;
}

#content ol
{
	list-style-type:decimal;
}

#content ul
{
	list-style-type:disc;
}

div#categs-nav
{
	background:#EB722A;
	float:left;
	font-size:11px;
	margin-top:25px;
	padding-bottom:6px;
	width:950px;
}

div#categs-nav ul
{
	background:#fff;
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
	width:950px;
}

div#categs-nav ul li
{
	background:white;
	float:left;
	padding-right:6px;
}

div#categs-nav ul li a
{
	background:#eee url(../img/sd_left.gif) no-repeat 0 0;
	background-position:0 -75px;
	color:#333 !important;
	display:block;
	float:left;
	outline:none;
	padding:4px 0 4px 6px;
	position:relative;
	text-decoration:none;
}

div#categs-nav ul li a:hover
{
	background-position:0 0;
	color:#fff !important;
}

div#categs-nav ul li.selected a
{
	background-position:0 0;
	color:#fff !important;
}

div#categs-nav ul li a span
{
	cursor:pointer;
	display:block;
	float:left;
	font-size:14px;
	padding-left:12px;
	padding-top:4px;
}

div#categs-nav ul li a span.cnr
{
	background:url(../img/sd_right.gif) no-repeat right 0;
	background-position:right -75px;
	display:block;
	float:left;
	position:relative;
	top:-4px;
}

div#categs-nav ul li a:hover span.cnr
{
	background-position:right 0;
	cursor:pointer;
}

div#categs-nav ul li.selected a span.cnr
{
	background-position:right 0;
	cursor:pointer;
}

.posted-ok
{
	background:#7FC9FF;
	border:1px solid #0074FF;
	color:#FFF;
	padding:10px;
}

.posted-pending
{
	background:#0094FF;
	border:1px solid #0074FF;
	color:#FFF;
	font-size:14px;
	padding:10px;
}

#sidebar
{
	float:right;
	padding:10px 0 0;
	width:175px;
}

#sidebar a
{
	color:#09C;
	font-size:11px;
	padding:2px;
}

#sidebar a:hover
{
	background-color:#09C;
	color:#fff;
	padding:2px;
	text-decoration:none;
}

#sidebar h4
{
	font-size:14px;
	font-weight:bold;
	margin:10px 0 3px;
}

#sidebar h4 a
{
	font-size:14px;
	text-decoration:underline;
}

#stats
{
	color:#777;
	font-size:11px;
}

.info
{
	color:#888;
}

div.footer
{
	background:#F2FCFF url(../img/footer-bg.png) no-repeat center top;
	color:#888;
	font-size:11px;
	margin-top:100px;
	
	padding:20px 0;
	text-align:center;
	width:100%;
}

#footer-contents
{
	margin:0 auto;
	text-align:left;
	width:950px;
}

#footer-copyright
{
	float:left;
}

.footer-col
{
	display:inline;
	float:left;
	margin: 0 25px;
	width:15%;
}

.validation-error
{
	color:red;
}

input.error,
textarea.error
{
	border:1px solid red !important;
}

.validation-failure
{
	background-color:#ffd0d6;
	color:red;
	padding:5px;
}

.apply-status-ok
{
	background-color:#dfFFda;
	color:#090;
	margin-bottom:7px;
	padding:5px;
}

#no-ads
{
	color:#555;
	margin-top:10px;
}

.suggestionTop
{
	color:#666;
	float:right;
	font-size:11px;
	width:350px;
}

.suggestion
{
	color:#777;
	font-size:11px;
}

.left
{
	display:inline;
	float:left;
}

.right
{
	display:inline;
	float:right;
}

.clear
{
	clear:both;
}

.error
{
	color:#f00;
}

#job-details
{
	margin:0;
	padding:10px 0;
}

#job-details h2
{
	color:#09C;
	font-size:26px;
	font-weight:normal;
	line-height:1.2;
	margin:0 0 10px;
}

#job-details .label
{
	color:#555;
	font-weight:bold;
}

#job-details .fading
{
	color:#aaa;
}

#job-details ul
{
	list-style-type:disc;
	margin:0 0 10px 15px;
}

#job-bottom
{
	background-color:#f0f0f0;
	font-size:14px;
	height:50px;
	padding:2px;
}

#number-views
{
	color:#777;
	display:inline;
	float:right;
	font-size:11px;
}

#job-post-utils
{
	color:#888;
	display:inline;
	float:left;
	font-size:11px;
}

#apply_online_now
{
	font-size:14px;
	margin-bottom:7px;
}

#old-ad
{
	background-color:#f20;
	color:#fff;
	margin-bottom:10px;
	padding:5px;
}

span.la
{
	color:#888;
}

#step-1,
#step-2,
#step-3
{
	display:inline;
	float:left;
}

#step-1
{
	width:100px;
}

#step-2
{
	margin-left:30px;
	width:120px;
}

#step-3
{
	margin-left:30px;
	width:130px;
}

.step-active
{
	color:#fff;
}
.required-status {
    color: #ff0000;
    font-weight: bold;
}
#publish_form fieldset
{
	background-color:#F2FBFE;
	border:1px solid #79BFF2;
	margin:0 0 5px;
	padding:10px;
}

#publish_form fieldset legend
{
	color:#4C80AD;
	font-size:12px;
	font-weight:bold;
}

#publish_form input,
#publish_form textarea,
#frm-send-to-friend input,
#frm-send-edit-link input,
#apply-online input,
#apply-online textarea
{
	border:1px solid #ccc;
	font-family:Helvetica,Arial,sans-serif;
	font-size:12px;
	padding:5px;
}

#publish_form input:focus,
#search input:hover,
#publish_form textarea:focus,
#frm-send-to-friend input:focus,
#frm-send-to-friend input:hover,
#frm-send-edit-link input:focus,
#frm-send-edit-link input:hover,
#apply-online input:focus,
#apply-online input:hover,
#apply-online textarea:focus,
#apply-online textarea:hover
{
	border:1px solid #7F635F;
}


#send-to-friend input#submit
{
background-color:#6FCF19;
	border:1px solid #6FCF19;
	color:#fff;
	cursor:pointer;
}
#send-to-friend input#submit:hover
{
	background-color:#4E8E12;
}
#apply-online input#cancel
{
background-color:#FF3F00;
	border:1px solid #FF3F00;
	color:#fff;
	cursor:pointer;
}
#apply-online input#cancel:hover
{
	background-color:#DB3300;
}
#apply-online input#submit
{
background-color:#6FCF19;
	border:1px solid #6FCF19;
	color:#fff;
	cursor:pointer;
}
#frm-send-edit-link input#submit,
#publish_form input#submit
{
	background-color:#6FCF19;
	border:1px solid #6FCF19;
	color:#fff;
	cursor:pointer;
}
#publish_form input#submit:hover,
#apply-online input#submit:hover
{
	background-color:#4E8E12;
}

#publish_form label.small
{
	color:#555;
	font-size:12px;
}

.no-border
{
	border:0;
}

td.publish-label
{
	width:150px;
}

.hidden
{
	display:none;
}

#apply-online
{
	background-color:#f6f6f6;
	padding:10px;
	width:735px;
}

#search_form fieldset
{
	border:0;
	margin:0;
	padding:0;
}

code
{
	font-size:12px;
}

#send-to-friend
{
	background-color:#f6f6f6;
	padding:3px;
	width:749px;
}

#send-to-friend table
{
	font-size:12px !important;
}

td.send-to-friend-address-label
{
	width:90px;
}

.big
{
	font-size:20px;
	height:61px;
	line-height:61px;
	width:61px;
}

.small
{
	font-size:16px;
	font-weight:bold;
	height:45px;
	line-height:45px;
	width:45px;
}

.no-border
{
	border:0!important;
	padding:0;
}

#location_outside_ro
{
	margin-top:5px;
}

#job-description
{
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	padding:10px 0;
}

a
{
	background-color:transparent;
	color:#09C;
	text-decoration:none;
}

a:hover
{
	background-color:transparent;
	color:#09C;
	text-decoration:underline;
}

h2
{
	font-size:14px;
	font-weight:bold;
	margin:10px 0 7px;
}

h2 a
{
	font-weight:normal;
	text-decoration:underline;
}

h3,
#job-listings h2
{
	font-size:14px;
	font-weight:bold;
	margin:10px 0 7px;
}

h3.steps,
div.steps
{
	background:transparent url(../img/header-bg.png) no-repeat left;
	color:#9AD4FF;
	font-size:14px;
	font-weight:normal;
	height:22px;
	margin:0;
	padding:2px 5px 5px 8px;
}

h3.page-heading,
div.page-heading
{
	background:transparent url(../img/header-bg.png) no-repeat left;
	color:#fff;
	display:block;
	font-size:16px;
	font-weight:normal;
	height:22px;
	margin:0 0 7px;
	padding:2px 5px 5px 8px;
}

h3.page-heading span
{
	font-size:12px;
}

h3.page-heading a:link,
h3.page-heading a:visited,
div.page-heading a:link,
div.page-heading a:visited
{
	color:#fff !important;
}

h3.page-heading a:hover,
div.page-heading a:hover
{
	background-color:#fff !important;
	color:#09C !important;
}

h4
{
	font-size:16px;
	margin:12px 0 3px;
}

#status
{
	background-color:#dfFFda;
	color:#090;
	padding:5px 0 2px 5px;
}

.highlight_keyword
{
	background-color:#ff8;
}

.recaptchatable .recaptcha_image_cell,
#recaptcha_table
{
	background-color:#e1e1e1 !important;
}

#recaptcha_table
{
	border-color:#f5f5f5 !important;
}

#recaptcha_response_field
{
	background-color:#fff !important;
	border-color:#ccc !important;
}

#recaptcha_instructions
{
	font-size:12px;
}

#sort-by-type
{
	color:#888;
	float:right;
	font-size:11px;
}

div#sort-by-type a:hover
{
	background:#fff;
}

#applied-to-job
{
	background:url(../img/bg-applied.png) no-repeat;
	color:#333;
	float:right;
	font-size:20px;
	height:58px;
	padding:4px 0 0;
	text-align:center;
	width:60px;
}

#applied-to-job p
{
	font-size:11px;
}

.company-tag-1
{
	font-size:12px;
}

.company-tag-2
{
	font-size:14px;
}

.company-tag-3
{
	font-size:16px;
}

.company-tag-4
{
	font-size:18px;
}

.company-tag-5
{
	font-size:20px;
}

.company-tag-6
{
	font-size:24px;
}

#job-listings .current_page
{
	border:1px solid #ccc;
	font-weight:bold;
	padding:1px 2px;
}

.row
{
	background-color:#ebebeb;
}

.row,
.row-alt
{
	border-bottom:1px solid #ddd;
}

.row-spot
{
	background-color:#77EF85;
	border:1px solid #ddd;
	margin-top:-1px;
}

.row,
.row-alt,
.row-spot
{
	height:20px;
	padding:5px;
	width:740px;
}

.row-info
{
	float:left;
	height:20px;
	overflow:hidden;
	width:650px;
	padding-bottom:5px;
}

.time-posted
{
	color:#888;
	float:right;
	font-size:11px;
	padding-right:5px;
}

.spotlight-image
{
	background-image:url(../img/icon-spotlight.png);
	background-repeat:no-repeat;
	float:right;
	height:20px;
	margin:0px;
	padding-right:5px;
	width:77px;
}

#view_all
{
	font-weight:bold;
	margin-top:5px;
	padding-left:5px;
}
.social-icons {
    float: left;
    width: 350px;
}

.social-icons a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin: 5px 3px 10px;
    background: url(../img/socialicons.png)/*tpa=socialicons.png*/ no-repeat;
}
.social-icons a.fb {
    background-position: 0 0;
}
.social-icons a.fb:hover {
    background-position: 0 -32px;
}
.social-icons a.tw {
    background-position: -38px 0;
}
.social-icons a.tw:hover {
    background-position: -38px -32px;
}
.social-icons a.gp {
    background-position: -76px 0;
}
.social-icons a.gp:hover {
    background-position: -76px -32px;
}
.social-icons a.linkedin {
    background-position: -114px 0;
}
.social-icons a.linkedin:hover {
    background-position: -114px -32px;
}
.social-icons a.rss {
    background-position: -152px 0;
}
.social-icons a.rss:hover {
    background-position: -152px -32px;
}
.social-icons a.yt {
    background-position: -190px 0;
}
.social-icons a.yt:hover {
    background-position: -190px -32px;
}
.social-icons a.skyp {
    background-position: -228px 0;
}
.social-icons a.skyp:hover {
    background-position: -228px -32px;
}
.social-icons a.vk {
    background-position: -266px 0;
}
.social-icons a.vk:hover {
    background-position: -266px -32px;
}
.social-icons a.ok {
    background-position: -304px 0;
}
.social-icons a.ok:hover {
    background-position: -304px -32px;
}
.counters {
    float: left;
    width: 370px;
}/*============================================
Additional settings
============================================*/
#supportEmp {margin: 25px 0 20px;}
#supportEmp dt {
  font-weight: bold;
  color: #777;
  margin-bottom: 5px;
}
#topSupportBox {
  margin: 30px 0 0;
  width: 745px;
}
#topSupportBox h2 {margin-bottom: 10px;}
#topSupportBox ul {
  list-style: none;
  background-color: #f1f1f1;
  padding: 10px 15px;
  margin: 0;
  overflow: hidden;
}
#topSupportBox ul li {
  float: left;
  margin-right: 11px;
  width: 170px;
  text-align: center;
}
#topSupportBox ul li img {vertical-align: bottom;}
#topSupportBox ul li.last {margin-right: 0;}
#topSupportBox ul li a {padding: 0;}
#topSupportBox ul li a:hover {
  padding: 0;
  background-color: #f1f1f1;
  filter:alpha(opacity=70);  /* IE7 */
  -ms-filter: &quot;alpha(opacity=70)&quot;; /* IE8 */
  -moz-opacity:0.7; /* Firefox 1.5, Netscape */
  -khtml-opacity: 0.7;  /* Safari 1.x, khtml  */
  opacity: 0.7; /* Firefox 1.5, Opera, Safari */
}

/*=================================================
Style for google map
==================================================*/
#map-canvas {
	width: 543px;
	height: 300px;
    background-color: rgb(229, 227, 223);
    text-align: center;
}
#map-canvas .btn-showmap {
    display: block;
    padding: 10px 20px;
    background: #a5a5a5;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}
#map-canvas .loading {
    margin: 0 auto;
}
#map-canvas .showmap, #map-canvas .loading {
    padding-top: 80px;
}
.map-error {
	border: 1px solid red !important;
}
#map-canvas p.text-error {
	text-align: center;
	font-weight: 700;
	font-size: 14px;

}
/* Update*/
.image_job{text-align:center ;border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding: 10px 0;}
.image_job img{
	margin-left:10px;
	margin-right:10px;
	width:225px;
	vertical-align: middle;
}
#delete_img{position: relative; top: 5px;cursor: pointer;}
/* Update*/
.application-expired-notice{
	background-color: #FF9;
	padding: 10px;
}
.btnFindJob span {
    background: url(../img/find.png) no-repeat 0 0;
    width: 140px;
	float: left;
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    padding: 2px 10px 0 20px;
    line-height: 45px;
    cursor: pointer;
}
.btnFindJob{background:url(../img/find.png) no-repeat right 0; width: 140px; float:left; height:47px; padding-right:10px; text-decoration:none;}

.btnFindJob:hover{background-position:right -47px; text-decoration:none;}
.btnFindJob:hover span{background-position:0 -47px;}


.jobboard-mobile {
    display: inline-block;
}
.jobboard-mobile img {
    margin-bottom: -8px;
}
@media screen and (min-width: 1000px) {
    .jobboard-mobile {display: none;}
}

.btn-danger{
	background-color: red !important;
	font-size: 14px !important;
	padding: 0 !important;
	line-height: 25px !important;
	color: #fff !important;
	float: right !important;
}

